/* PC */
@media (min-width: 64em) {
    
}

/* TABLET AND MOBILE */
@media (max-width: 63.9375em) {
    .button {
        padding: 15px 16px;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .contact-info {
        line-height: 2.0;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .contact-submit-button {
        font-size: 16px;
    }

    #footer .social-list {
        font-size: 48px;
    }
      
    #footer .social-list a {
        margin: 0 8px; 
    }

    #footer .copyright a {
        display: inline-block;
        padding: 12px 0;
    }
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {

}

/* MOBILE */
@media (max-width: 46.1875em) {
    .s-full-width,
    .s-column-full {
        width: 100% !important;
    }

    .s-margin-top-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .search-button {
        display: none
    }

    #header .mobile-menu-button {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }
    
    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial; /* giá trị mặc định */
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    /* #content .member-item {
        margin-top: 30px;
        width: 100%;
    } */

    #content .member-img {
        width: 60%;
    }

    /* .place-item {
        width: 100%;
    } */

    .contact-form {
        margin-top: 32px;
    }
}